<div class="side-nav">

  <a href="index.html" class="nav-item active">
    <div class="planet planet-home"></div>
    <span>Home</span>
  </a>

  <a href="about.html" class="nav-item">
    <div class="planet planet-about"></div>
    <span>About</span>
  </a>

  <a href="certificates.html" class="nav-item">
    <div class="planet planet-certificates"></div>
    <span>Certificates</span>
  </a>

  <a href="project.html" class="nav-item">
    <div class="planet planet-project"></div>
    <span>Projects</span>
  </a>

  <a href="contact.html" class="nav-item">
    <div class="planet planet-contact"></div>
    <span>Contact</span>
  </a>

</div>